__pycache__/
*.pyc
env/
*smac3-output_*
SMAC3/algorithms/ilsmkp/instances/
.Rproj.user
*.Rdata
SMAC3/resultados/finales/easy_normal.txt
SMAC3/resultados/finales/easy_OL.txt
SMAC3/resultados/finales/easy_OLT80_B100_NR_D98.txt
SMAC3/resultados/finales/easy_OLT80_B100_NR_D99.txt
SMAC3/resultados/finales/easy_OLT80_B100.txt
SMAC3/resultados/finales/easy_OLT95_B20.txt
SMAC3/resultados/finales/easy_OLT95_B100_NR.txt
SMAC3/resultados/finales/easy_OLT95.txt
SMAC3/resultados/finales/out_OL_T80_B100_NR_D99_easy_1.txt
SMAC3/resultados/proceso/out_normal_easy_1.txt
SMAC3/resultados/proceso/out_normal_easy_2.txt
SMAC3/resultados/proceso/out_normal_easy_3.txt
SMAC3/resultados/proceso/out_OL_easy_1.txt
SMAC3/resultados/proceso/out_OL_easy_2.txt
SMAC3/resultados/proceso/out_OL_easy_3.txt
SMAC3/resultados/proceso/out_OL_T80_B100_easy_1.txt
SMAC3/resultados/proceso/out_OL_T80_B100_easy_2.txt
SMAC3/resultados/proceso/out_OL_T80_B100_easy_3.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D98_easy_1.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D98_easy_2.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D98_easy_3.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D99_easy_1.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D99_easy_2.txt
SMAC3/resultados/proceso/out_OL_T80_B100_NR_D99_easy_3.txt
SMAC3/resultados/proceso/out_OL_T95_B20_easy_1.txt
SMAC3/resultados/proceso/out_OL_T95_B20_easy_2.txt
SMAC3/resultados/proceso/out_OL_T95_B20_easy_3.txt
SMAC3/resultados/proceso/out_OL_T95_D097_NR_easy_1.txt
SMAC3/resultados/proceso/out_OL_T95_D097_NR_easy_2.txt
SMAC3/resultados/proceso/out_OL_T95_D097_NR_easy_3.txt
SMAC3/resultados/proceso/out_OL_T95_easy_1.txt
SMAC3/resultados/proceso/out_OL_T95_easy_2.txt
SMAC3/resultados/proceso/out_OL_T95_easy_3.txt
