__pycache__/
*.pyc
env/
*smac3-output_*
SMAC3/algorithms/ilsmkp/instances/
/SMAC3/resultados/
.Rproj.user
*.Rdata
/SMAC3/algorithms/ga/evals/InstanceTestingALL/
SMAC3/algorithms/ga/ol_d90_f20_1
SMAC3/algorithms/ga/ol_d90_f20_2
SMAC3/algorithms/ga/ol_d90_f20_3
SMAC3/algorithms/ga/ol_d90_f20_4
SMAC3/algorithms/ga/ol_d95_f10_1
SMAC3/algorithms/ga/ol_d95_f10_2
SMAC3/algorithms/ga/ol_d97_f10_1
SMAC3/algorithms/ga/ol_d97_f10_2
SMAC3/algorithms/ga/evals/d90_f20.param
SMAC3/algorithms/ga/evals/evalGANK.py
SMAC3/algorithms/ga/evals/ga-nk
SMAC3/algorithms/ga/evals/resumeEval.py
SMAC3/algorithms/ga/evals/d*
irace/tunning/ol*
irace/tunning/ga/eval/g*
SMAC3/algorithms/ga/test*